.header{
    display: flex;
    justify-content: space-between;
    padding: 8px 115px;
    
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.part1{
    background-color: #1F2937;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}
.header li{
    font-size: 18px;
    color: #e5e7eb;
}
.initial{
    margin: 35px 64px;
    padding: 0px 51px;
}
.initial .intro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.initial h1{
    margin: 0;
    padding: 0;
    font-size: 48PX;
    color: #f9faf8;
}
.intro .text{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: #e5e7eb;
    color: #e5e7eb;
}
.intro .content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.intro a{
    text-decoration: none;
    color: white;
}
.intro button{
    width: 80px;
    background-color: #3882f6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 5px 0px;
}
.place_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    padding: 0px 15px;
    color: white;
    background-color: #94969b;
    width: 450px;
    height: 200px;
    align-self: center;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.middle h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.boxes{
    display: flex;
    gap: 60px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    border: #3882f6;
    border-style: solid;
}
.middle .text{
    width: 100px;
    text-align: center;

}
.quote{
    display: flex;
    flex-direction: column;
    padding: 26px 290px;
    margin: 36px 0px;
    gap: 30px;
    background-color: #e5e7eb;
    border-radius: 15px;
}
.quote .quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote-by{
    padding-left: 500px;
    font-weight: bold;
    font-size: 15px;
}
.signing-up{
    display:flex;
    margin: 64px 115px;
    padding: 26px 70px;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
}
.signing-up button{
    margin-top: 24px;
    margin-right: 100px;
    height: 30px;
    width:100px;
    color: white;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}
.signing-up a{
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}